extends ../layout

block content 
    .container-fluid.text-center
        .row.content
            .col-sm-5.text-left
                h4 Zadatak:
                    p #{request.extraNote}
                    p Potreban posao:
                        each data in request.requestType
                            p #{data}
                    if !request.worker
                        hr
                        form(method = 'POST', action='')
                            .form-group  
                                label(for="worker_select") Dodjeli radnika
                                select#worker_select.form-control(name="worker")
                                    each worker in workers 
                                        option(value=worker._id) #{worker.username}
                            .form-group
                                button.btn.btn-info(type = 'submit') Dodjeli radnika
                    else 
                        hr
                        p.font-weight-bold Radnik dodijeljen
            .col-sm-5.text-left
                h4 Vlasnik: #{client.name}
                    p #{client.phone}
                    p Informacije o vozilu:
                        each data in client.car
                            p #{data}
            