extends ../layout

block content 
    .container-fluid.text-center
        .row.content
            //-include ../includes/left_sidebar

            .col-sm-5.text-left
                h4 Car owner: #{client.name}
                    p #{client.phone}
                    p Car info:
                        each data in client.car
                            p #{data}
            .col-sm-5.text-left
                h4 Work request:
                    p #{request.extraNote}
                    p Work needed:
                        each data in request.requestType
                            p #{data}
                    

            //-include ../includes/right_sidebar